# Virtual environments
cotale-env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Development tool caches
.ruff_cache/
.pytest_cache/

# Jupyter temporary files
.ipynb_checkpoints/

# macOS files
.DS_Store

# Environment variables / secrets
.env
.env.*

# Raw datasets
data/raw/*

# Keep empty raw folder in Git
!data/raw/.gitkeep

# Processed datasets
data/processed/*

# Keep processed folder and final dataset required by the application
!data/processed/.gitkeep
!data/processed/google_trends_ai_3y_updated_2026-08-09.csv

# Eğer eski clean dataset notebook'larda gerekiyorsa bunu da tut
!data/processed/google_trends_ai_3y_clean.csv

# Generated model formats not currently used by final pipeline
models/*.pkl
models/*.joblib

# Internship/company document
coTalent_Stajyer_Proje_Dokumani.pdf

# VS Code temporary notebook
notebooks/tempCodeRunnerFile.ipynb
